<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 1em 0;
            text-align: center;
        }
        nav {
            margin: 0 auto;
            max-width: 1000px;
            text-align: center;
        }
        nav a {
            color: #fff;
            margin: 0 1em;
            text-decoration: none;
        }
        main {
            max-width: 1000px;
            margin: 2em auto;
            padding: 1em;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        article {
            margin-bottom: 2em;
        }
        article h2 {
            margin-top: 0;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Jakob Loverde</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <main>
        <article>
            <h2>Ruby On Rails Basics</h2>
            <p>
            This is a blog post about what I learned to get to this point. By "this point" generating this website.
            I learned some Model-View-Controller (M-V-C/MVC). 
            <h3>Model-View-Controller</h3>
            This model breaks down the seperation of the front-end and the back-end.
            <h4>Models</h4>
            <ul>
              <li> "Resources" this app has available. </li>
              <ul> <li> Users, blog posts, articles, etc.</li> </ul>
              <li> Can be used to communicate with the tables in an app.</li>
            </ul>
            <h4>Views</h4>
            <ul> 
              <li>
                Front-end of the app 
                <ul> <li> home page, portfolio, about, etc. </li> </ul>
              </li>
              <li> Contains .html.erb files not just plain .html to embed Ruby </li>
            </ul>
            

            </p>
        </article>

